{{!-- this file will contain the dynamic content being added to handelbars --}}
{{!-- render to the first list where devoured is false and render to the second list where devoured is true --}}
{{!-- html form automatically returns an object --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script type="text/javascript" src="../public/assets/frontEnd.js"></script> --}}

<h1>Burgers</h1>

<ul>
  {{#each burgers}}
  <li>
    <p>Burger: {{this.burger_name}}</p>
    {{!-- <form action="/update"> --}}
      {{!-- <input type="hidden"> <!-- whatever you put as the input value will be sent to the backend--> --}}
      <button  type="button" class="devour">Eat it!</button>
    {{!-- </form> --}}
  </li>
  {{/each}}
</ul>

<div id ="eaten">

<div>
  
  {{!-- this is the submit button for adding a new burger to the undevoured list --}}
  <form action="/" method="POST">
    <input type="text" name="name"></input>

    <button type="submit">Submit</button>
  </form>
</div>

<script>
$( ".devour" ).click(function() {
    alert( "This is working" );

    var devouredStatus = {
        devoured : true
    }

    var id = this.id1

    $.ajax("/update/" + id,{
        type: 'POST',
        data: 'devoured',
      }).then(
          function(){
            alert("it is working");
              console.log("changed devoured to", devouredStatus);
              location.reload();
          }
      );
  });
</script>	



