{{!-- this file will contain the dynamic content being added to handelbars --}}
{{!-- render to the first list where devoured is false and render to the second list where devoured is true --}}

<h1>Burgers</h1>

<ul>
  {{#each burgers}}
  <li>
    <p>Burger: {{this.burger_name}}</p>
    <form action="/update">
      <input type="hidden"> <!-- whatever you put as the input value will be sent to the backend-->
      <button type="submit">Eat it!</button>
    </form>
  </li>
  {{/each}}
</ul>

<div>
  <form action="/" method="POST">
    <input type="text" name="name"></input>

    <button type="submit">Submit</button>
  </form>
</div>